bin/
obj/

packages/

.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*_ReSharper.*
_ReSharper.Caches/
riderModule.iml
*.DotSettings.user

*.log
*.tmp
*.bak
*.temp

.DS_Store
Thumbs.db
desktop.ini

BepInEx/Cache/
BepInEx/plugins/disabled/
BepInEx/config/Backups/

WeatherGains.sln.DotSettings.user
launchSettings.json

Thunderstore